# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output of Visual Studio Code
src/services/auth/debug
src/services/state/debug
.vscode